<main class="responsive-wrapper mb-10">
  <div class="page-title">
    <div class="flex justify-center">
      <div class="mb-3 xl:w-96">
        <input
          type="text"
          class="bg-offWhite border-gray-600 block w-full px-3 py-1.5 text-base font-normal text-gray-700 border-b-2 border-grey transition ease-in-out m-0 focus:text-gray-700 focus:border-blackish-600 focus:outline-none"
          id="exampleFormControlInput5"
          placeholder="Search For Fake News..."
          aria-label="Disabled input example"
        />
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-4 mt-12">
    <!-- <div class="newspaper-column">
      <article class="article">
        <h2 class="article-title article-title--large">
          <a href="#" class="article-link"
            >The First Signs of
            <mark class="mark mark--primary">Alcoholic Liver</mark> Damage Are
            Not in the Liver</a
          >
        </h2>
        <div class="article-excerpt">
          <p>
            The combination of my father's death and my personal back ground lit
            a fire in me to know more
          </p>
          <p>He was admitted to the hospital on June 24, 2016.</p>
        </div>

        <div class="article-author">
          <div class="article-author-img">
            <img src="https://assets.codepen.io/285131/author-3.png" />
          </div>
          <div class="article-author-info">
            <dl>
              <dt>David Sherof</dt>
              <dd>Reporter</dd>
            </dl>
          </div>
        </div>
      </article>
      <article class="article">
        <h2 class="article-title article-title--medium">
          <a href="#" class="article-link"
            >The Founder's Guide to Actually Understanding Users Nowadays</a
          >
        </h2>
        <div class="article-creditation">
          <p>
            By Johnathan O'Connell, Andrew Van Dam, Aaron Gregg and Alyssa
            Fowers
          </p>
        </div>
      </article>
    </div> -->
    <div
      *ngFor="let item of demoDataServ_.demoNews"
      class="col-span-1 border border-black rounded p-5"
    >
      <article class="article divide-black-100">
        <!-- <figure class="article-img">
          <img
            src="https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
          />
        </figure> -->
        <h2 class="article-title article-title--medium">
          <a class="article-link">{{ item.heading | titlecase }}</a>
        </h2>

        <div>
          <span class="text-xs text-gray-400">News Published by - </span>
          <p>
            {{ item?.news_auther | titlecase }}
          </p>
          <a class="text-blue-900 cursor-pointer">
            {{ item?.url }}
          </a>
        </div>
        <div class="article-excerpt">
          <span class="text-xs text-gray-400">why is this fake? -</span>
          <p>
            {{ item?.why_fake | titlecase }}
          </p>
        </div>
        <!-- <hr /> -->

        <div class="flex justify-start items-start">
          <div class="border-r-2 p-3">
            <span class="text-xs text-gray-400">Reported on Fakecheck by </span>

            <div class="article-author">
              <div class="article-author-img">
                <img src="https://assets.codepen.io/285131/author-2.png" />
              </div>
              <div class="article-author-info">
                <dl>
                  <dt>
                    {{ item.reported_by | titlecase }}
                  </dt>
                </dl>
              </div>
            </div>
          </div>

          <div class="border-r-2 p-3">
            <span class="text-xs text-gray-400">Poll results </span>

            <div class="article-author">
              {{ item?.poll_results?.reported_fake_by }} voted fake
            </div>

            <div class="article-author">
              {{ item?.poll_results?.reported_not_fake_by }} voted not fake
            </div>
          </div>

          <div class="border-r-2 p-3">
            <span class="text-xs text-gray-400">Users feedback </span>

            <div class="article-author">
              {{ item?.reported_fake_by }} fakecheck users voted fake
            </div>

            <div class="article-author">
              {{ item?.reported_not_fake_by }} fakechek users voted not fake
            </div>
          </div>

          <div class="p-3">
            Fakeness score
            <span> {{ item.fakeness_score | number }}</span>
          </div>
        </div>

        <hr />
      </article>
    </div>
  </div>
</main>
