<main class="responsive-wrapper mb-10 p-10 bg-gray-100">
  <div class="page-title">
    <div class="flex justify-center">
      <div class="mb-3 xl:w-96">
        <input
          [formControl]="search"
          type="text"
          class="bg-offWhite border-gray-600 block w-full px-3 py-1.5 text-base font-normal text-gray-700 border-b-2 border-grey transition ease-in-out m-0 focus:text-gray-700 focus:border-blackish-600 focus:outline-none"
          id="exampleFormControlInput5"
          placeholder="Search For Fake News..."
          aria-label="Disabled input example"
        />
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-4 mt-12">
    <div
      *ngFor="let item of news$ | async"
      class="bg-white grid md:grid-cols-4 grid-cols-1 cursor-pointer border border-slate-200 rounded-lg p-5 shadow-sm hover:shadow-lg"
    >
      <!-- <img
        *ngIf="item.image"
        class="object-cover rounded p-1"
        [src]="item?.image"
        alt=""
      /> -->
      <article
        class="col-span-4 md:col-span-3 article divide-black-100 border-r-2 flex flex-col"
      >
        <h2
          (click)="clicked(item.id!)"
          class="article-title article-title--medium hover:underline"
        >
          <a class="article-link">{{ item.heading | titlecase }}</a>
        </h2>
        <!-- <div class="bg-contain bg-center bg-no-repeat">
            <img
              src="../../assets/images/kisspng-fake-news-la-grande-peur-new-york-stock-photograp-5b0a0c5e7a6305.5843733515273851825013.png"
              width="100px"
            />
          </div> -->

        <!-- <figure class="article-img">
          <img
            src="https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
          />
        </figure> -->

        <div class="flex flex-col justify-start items-start">
          <div>
            <span class="text-xs text-gray-400">News Published by - </span>
            <a class="">
              {{ item?.news_author | titlecase }}
            </a>
          </div>
          <div>
            <span class="text-xs text-gray-400">URL - </span>
            <a class="text-blue-900 cursor-pointer"> {{ item?.url }} </a>
          </div>
        </div>

        <div class="article-excerpt">
          <span class="text-xs text-gray-400">Why is this fake? -</span>
          <p class="truncate">
            {{ item?.why_fake | titlecase }}
          </p>
        </div>

        <div class="flex mt-2">
          <div class="flex justify-center items-center gap-2">
            <span class="text-xs text-gray-400 mr-2"
              >Reported on Fakecheck by
            </span>
            <img
              class="h-[30px] w-[30px] rounded-full"
              src="{{ item.reported_by?.image }}"
              alt=""
            />

            <h1 class="text-xs text-gray-400">
              {{ item.reported_by?.firstName | titlecase }}
            </h1>
          </div>

          <!-- <div class="article-author">
           <div class="article-author-img">
              <img src="https://assets.codepen.io/285131/author-2.png" />
            </div>=

          </div> -->
        </div>

        <div class="flex justify-start items-start mt-3">
          <span class="flex mr-3" tippy="Comments">
            <rmx-icon name="chat-1-line" class="text-black mr-1"></rmx-icon>
            0
          </span>

          <span class="flex" tippy="Poll Interactions">
            <rmx-icon name="chat-poll-line" class="text-black mr-1"></rmx-icon>
            0
          </span>
        </div>
        <!-- <hr /> -->
      </article>

      <div class="flex justify-start flex-col items-start">
        <div class="p-3">
          <span class="text-sm text-gray-400">Poll results </span>

          <div class="article-author">
            <rmx-icon name="bug-line" class="mr-1"></rmx-icon>

            {{ item?.poll_results?.[0]?.reported_fake_by }} voted fake
          </div>

          <div class="article-author">
            <rmx-icon name="seedling-line" class="mr-1"></rmx-icon>

            {{ item?.poll_results?.[0]?.reported_not_fake_by }} voted not fake
          </div>
        </div>

        <!-- <div class="border-r-2 p-3">
          <span class="text-sm text-gray-400">Users feedback </span>

          <div class="article-author">
            {{ item?.reported_fake_by }} fakecheck users voted fake
          </div>

          <div class="article-author">
            {{ item?.reported_not_fake_by }} fakechek users voted not fake
          </div>
        </div> -->

        <div
          class="p-3"
          tippy="Fakeness Score is calculated by our system from all the information gathered from this post!, Including, reporters observations, poll results etc"
        >
          <span class="text-sm"> Fakeness score </span>

          <div class="article-author">
            <rmx-icon name="skull-2-line" class="mr-1"></rmx-icon>
            {{ item | FakenessScore }}
          </div>
        </div>

        <div class="p-3">
          <div
            class="article-author text-red-800"
            *ngIf="item.fakeness_score > 50"
          >
            This News is highly likely to be Fake as the fakeness score is above
            50
          </div>

          <div
            class="article-author text-green-800"
            *ngIf="item.fakeness_score < 50"
          >
            Lets not Wrap up things here as the fakeness score is less than 50
          </div>

          <button
            (click)="copy(item?.poll_results?.[0]?.id!)"
            class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
            *ngIf="id == item?.userId"
          >
            Copy poll Link!
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
