<header class="bg-white w-screen p-6 pt-3 flex justify-between shadow z-[999]">
  <div class="header-left">
    <img
      class="logo"
      src="../../../../../assets/onlinelogomaker-070622-2248-9314-2000-transparent.png"
      alt=""
    />
  </div>
  <div class="header-right">
    <nav class="header-nav">
      <a
        [routerLink]="['/search-news']"
        class="header-link header-link--button rounded"
        >Search Fakes News</a
      >
      <a class="header-link">Profile</a>
      <a *ngIf="!(auth.loginDetails | async)" class="header-link cursor-pointer"
        >{{ auth.loginDetails | async }}.</a
      >

      <a *ngIf="auth.loginDetails | async" class="header-link cursor-pointer"
        >Sign out</a
      >
    </nav>
  </div>
</header>
