<div class="grid md:grid-cols-4 sm:grid-cols-1 mt-5">
  <div class="justify-center items-start col-span-2 flex bg-green">
    <img
      class="object-cover p-10 h-4/5"
      src="../../../assets/images/abc8de901b9cd1ff86618dc85373a48f.jpg"
      alt=""
    />
  </div>

  <div
    class="flex flex-col justify-center items-start col-span-2 border-l-2 border-black h-5/6"
  >
    <p class="text-4xl text-left p-8 pb-0 font-extrabold">
      Fake news has the potential to polarise public opinion , encourage hate
      speech and violent extremism.
    </p>

    <p class="text-xl text-left p-8 pt-3">
      FakeCheck helps you to participate in an attempt to check the genuinity of
      the fabricated news around you!
    </p>

    <p
      class="text-md mt-5 ml-10 p-10 justify-self-start bg-transparent cursor-pointer hover:bg-green text-blackish-700 font-semibold hover:text-white py-2 px-4 border border-blackish hover:border-transparent rounded"
    >
      Flag a Fake News
    </p>
  </div>
</div>
