<header class="header responsive-wrapper">
  <div class="header-left">
    <img
      class="logo"
      src="../../../../../assets/onlinelogomaker-070622-2248-9314-2000-transparent.png"
      alt=""
    />
  </div>
  <!-- <div class="header-middle">
    <a href="#" class="header-link">Call Us (348) 981 872</a>
    <span>/</span>
    <a href="#" class="header-link">hello@foxnews.com</a>
  </div> -->
  <div class="header-right">
    <nav class="header-nav">
      <a href="#" class="header-link header-link--button">Search Fakes News</a>
      <a class="header-link">Login/Signup</a>
    </nav>
    <!-- <button class="header-menu-button">Menu</button> -->
  </div>
</header>
