<div class="h-[700px] mt-10 p-10 shadow-lg">
  <div class="flex justify-center flex-col items-center">
    <h1 class="text-4xl font-bold p-3">
      {{ (polldetails$ | async)?.news?.heading | titlecase }}
    </h1>

    <div class="text-yellow-500 my-3">
      One of our fake checkers thinks that this news is fake! and we want your
      honest openion to help us find the genuinity of this content!
    </div>

    <h3 class="text-lg font-bold">
      Why does the reported thinks this is fake?
    </h3>

    <p class="text-xl text-center">
      {{ (polldetails$ | async)?.news?.why_fake | titlecase }}
    </p>

    <p class="mt-3">
      This is a news reported by :
      <a class="text-blue-600">
        {{ (polldetails$ | async)?.news?.news_author | titlecase }}
      </a>
    </p>

    <p>Please cast your vote!</p>

    <div class="mt-9 flex justify-center gap-4 items-center">
      <div
        class="flex justify-center items-center cursor-pointer p-3 text-4xl shadow hover:shadow-md text-red-500"
      >
        <rmx-icon name="thumb-up-fill" class="text-red-500 mr-1"></rmx-icon>

        Fake!
      </div>
      <div
        class="flex justify-center items-center cursor-pointer p-3 text-4xl shadow hover:shadow-md text-green-500"
      >
        <rmx-icon name="thumb-down-fill" class="text-green-500 mr-1"></rmx-icon>

        Real!
      </div>
    </div>
  </div>
</div>
